		/* root */

		:root {
			font-size: 62.5%;

			/* farvevariabler */
			--fontfarve: #222222;
			--logofarve: #ea591d;
			--darkwrapper: rgba(0, 0, 0, 0.75);
			--darkwrapper: rgba(22, 13, 9, 0.70);
			--darkwrapper_hover: rgba(0, 0, 0, 0.90);
			--footer_rubrik: #fff;
			--footer_afsnit: #8b8b8b;
			--footer_bundfarve: rgba(0, 0, 0, 90);
		}

		/* generelt */

		body {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			font-size: 1.75rem;
			line-height: 3rem;
			font-family: 'Open Sans', sans-serif;
			display: relative;
			color: var(--fontfarve);

		}

		* {
			box-sizing: border-box;
		}

		img {
			width: 100%;
		}

		/* remember to define focus styles! */

		:focus {
			outline: 0;
		}



		/* header */

		header {
			height: 700px;
			background-image: url(img/template/header_index_2.jpg);
			background-size: cover;
			background-position: bottom;
		}

		.darkwrapper {
			background-color: var(--darkwrapper);
			height: 50%;
			display: grid;
			grid-template-columns: 1fr minmax(auto, 300px) 1fr;
			grid-template-columns: 1fr auto 1fr;
			transition: height 0.5s;
			transition: background-color 0.5s;
		}

		.darkwrapper:hover {
			background-color: var(--darkwrapper_hover);
		}

		.darkwrapper.high {
			position: fixed;
			width: 100vw;
			height: 100vh;
			background-color: var(--darkwrapper_hover);
		}

		.logo {
			grid-column: 2 / span 1;
			align-self: center;
			padding: 0 0 30px;
			opacity: 1;
			transition: opacity 1s;
		}

		.logo.hide {
			opacity: 0;
			pointer-events: none;
		}

		.social-icons {
			position: absolute;
			left: 0;
			top: 0;
			width: auto;
			height: auto;
			line-height: 0;
			padding: 20px;
			z-index: 50;
			display: none;
		}

		.icon {
			max-width: 30px;
			max-height: 30px;
			margin: 10px 10px 0 0;
		}


		/* navigation-knap */

		.nav-knap {
			position: fixed;
			right: 0;
			width: auto;
			height: auto;
			line-height: 0;
			padding: 25px;
			z-index: 50;
		}

		.burger {
			cursor: pointer;
			background: transparent;
			border: none;
		}

		.nav-knap .bar1,
		.nav-knap .bar2,
		.nav-knap .bar3 {
			width: 35px;
			height: 3px;
			background-color: #fff;
			margin: 9px 0;
			transition: 0.4s;
			box-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
		}

		.nav-knap .change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 9px);
			transform: rotate(-45deg) translate(-9px, 9px);
		}

		.nav-knap .change .bar2 {
			opacity: 0;
		}

		.nav-knap .change .bar3 {
			-webkit-transform: rotate(45deg) translate(-7px, -8px);
			transform: rotate(45deg) translate(-7px, -8px);
			box-shadow: 1px 1px 10px transparent, 1px 1px 10px transparent;
		}

		/* navigation-menu */

		nav {
			position: absolute;
			color: #fff;
			width: 100vw;
			height: 100vh;
			opacity: 0;
			transition: opacity 1s;
			pointer-events: none;
		}

		nav.show {
			opacity: 1;
			transition: opacity 1s;
			pointer-events: all;
		}

		nav ul {
			list-style: none;
			margin: 100px 0 0;
			padding: 0;
			width: 100vw;
		}

		nav li {
			font-size: 2rem;
			text-transform: uppercase;
			padding: 5px;
			cursor: pointer;
			border-top: 1px solid #fff;
			text-align: center;
			padding: 20px;
		}

		nav li:hover {
			color: #000;
			background-color: #fff;
		}

		nav li:last-child {
			border-bottom: 1px solid #fff;
		}

		#om .content {
			padding: 3rem 3rem 0;
		}

		footer .content {
			padding: 3rem 3rem 5rem;
		}

		#om .content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto minmax(auto, 350px);
			grid-gap: 50px;
			position: relative;
		}

		#om h1 {
			text-transform: uppercase;
			color: var(--logofarve);
			font-weight: normal;
			font-style: italic;
		}

		#om .om-tekst {
			grid-column: 1 / span 2;
		}

		#om .om-billede {
			position: absolute;
			bottom: 0;
			right: -20px;
			padding-right: 10vw;
			z-index: -1;
			max-height: 400px;
			width: auto;
			transform: scaleX(-1);
		}

		#om .om-kontakt {
			display: none;
		}

		#om .om-citat {
			grid-column: 1 / span 1;
			font-weight: bold;
			line-height: 2.4rem;
			position: relative;
		}

		#om .om-citat-cymbol {
			position: absolute;
			width: 50px;
			height: 50px;
			top: -40px;
			right: -40px;
			background-image: url(img/template/citat-symbol.svg);
			background-size: cover;
		}

		#om .om-citat-navn {
			font-weight: normal;
			font-size: 1.5rem;
			line-height: 2rem;
		}


		/* Footer */

		footer {
			background-color: var(--footer_bundfarve);
			color: var(--footer_fontfarve);
		}

		footer .content {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;
		}

		footer p {
			color: var(--footer_afsnit);
			max-width: 90%;
		}


		footer h3 {
			color: var(--footer_rubrik);
		}

		footer button {
			background-color: #fff;
			border: none;
			border-radius: 5px;
			padding: 7px 10px 7px;
			text-transform: uppercase;
			margin: 10px 0 0;
		}

		footer .icon {
			max-width: 30px;
			max-height: 30px;
			margin: 10px 10px 0 0;
		}

		footer .copyright {
			font-size: 70%;
			margin: 20px 0 0;
		}

		/* media queries */

		@media screen and (orientation: landscape) {
			nav ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			nav li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}
		}

		@media screen and (min-width: 480px) and (orientation: landscape) {
			nav ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			nav li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}

			#om .content {
				padding: 4rem 4rem 6rem;
			}

			footer .content {
				padding: 4rem 4rem 6rem;
			}

		}

		@media screen and (min-width: 768px) {

			body {
				font-size: 1.6rem;
			}

			header {
				height: 430px;
			}

			.darkwrapper {
				grid-template-columns: 1fr minmax(auto, 250px) 1fr;
			}

			.logo {
				padding: 0 0 15px;
			}

			.burger {
				display: none;
			}

			nav {
				position: absolute;
				right: 0px;
				color: #fff;
				opacity: 1;
				width: auto;
				padding: 20px 30px 0 0;
				pointer-events: all;
			}

			nav ul {
				display: block;
				margin: 0 0 0;
				padding: 0;
				width: auto;
			}

			nav li {
				font-size: 1.6rem;
				line-height: 2.2rem;
				text-transform: uppercase;
				cursor: pointer;
				border-top: 0px solid #fff;
				text-align: right;
				padding: 3px 0 6px 0;
				margin-right: 2rem;
			}

			nav li:hover {
				color: var(--logofarve);
				transition: 0.5s;
				background-color: transparent;
			}

			nav li:last-child {
				border-bottom: 0px solid #fff;
			}

			nav li:nth-child(2n+1) {
				border-right: 0px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 0px solid #fff;
			}

			.social-icons {
				display: block;
				padding: 15px;
			}

			#om .content {
				grid-template-columns: 2fr 1fr;
			}

			#om .om-tekst {
				grid-column: 1 / span 1;
			}

			#om .om-kontakt {
				display: block;
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;

			}

			#om .om-billede {
				position: absolute;
				bottom: 0;
				right: -20px;
				padding-right: 10vw;
				z-index: -1;
				max-height: 400px;
				width: auto;
				transform: scaleX(-1);
			}

			footer .content {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}

		@media screen and (min-width: 980px) {

			body {
				font-size: 1.6rem;
			}

			footer .content {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 20px;
			}
		}

		@media screen and (min-width: 1024px) {

			body {
				font-size: 1.4rem;
				line-height: 2rem;
			}

			#om,
			footer {
				display: grid;
				grid-template-columns: 1fr 1024px 1fr;
				grid-gap: 30px;
			}

			#om .content,
			footer .content {
				grid-column: 2 / span 1;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-gap: 30px;
			}

			footer .content {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

			}
		}

		@media screen and (min-width: 1280px) {

			nav ul {
				display: flex;
				margin: 0 0 0 0;
				padding: 0;
				width: auto;
			}

			#om,
			footer {
				display: grid;
				grid-template-columns: 1fr 1280px 1fr;
			}
		}
