		/* root */

		:root {
			font-size: 62.5%;

			/* farvevariabler */
			--fontfarve: #222222;
			--logofarve: #ea591d;
			--darkwrapper: rgba(0, 0, 0, 0.75);
			--darkwrapper: rgba(22, 13, 9, 0.70);
			--darkwrapper_hover: rgba(0, 0, 0, 0.93);
			--om_bundfarve: rgba(255, 255, 255, 0.90);
			--footer_rubrik: #fff;
			--footer_afsnit: #8b8b8b;
			--footer_bundfarve: rgba(0, 0, 0, 90);
		}

		/* generelt */

		body {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			font-size: 1.75rem;
			line-height: 3rem;
			font-family: 'Open Sans', sans-serif;
			display: relative;
			color: var(--fontfarve);
			background-image: url(img/template/header_index_2.jpg);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
		}

		* {
			box-sizing: border-box;
		}

		img {
			width: 100%;
		}

		/* remember to define focus styles! */

		:focus {
			outline: 0;
		}

		/* header */

		header {
			height: 700px;
		}

		.darkwrapper {
			background-color: var(--darkwrapper);
			height: 50%;
			display: grid;
			grid-template-columns: 1fr minmax(auto, 300px) 1fr;
			grid-template-columns: 1fr auto 1fr;
			transition: height 0.5s;
			transition: background-color 0.5s;
			z-index: 50
		}

		.darkwrapper:hover {
			background-color: var(--darkwrapper_hover);
		}

		.darkwrapper.high {
			position: fixed;
			width: 100vw;
			height: 100vh;
			background-color: var(--darkwrapper_hover);
		}

		.logo {
			grid-column: 2 / span 1;
			align-self: center;
			padding: 0 0 30px;
			opacity: 1;
			transition: opacity 1s;
		}

		.logo.hide {
			opacity: 0;
			pointer-events: none;
		}

		.social-icons {
			position: absolute;
			left: 0;
			top: 0;
			width: auto;
			height: auto;
			line-height: 0;
			padding: 20px;
			z-index: 50;
			display: none;
		}

		.icon {
			max-width: 30px;
			max-height: 30px;
			margin: 10px 10px 0 0;
		}


		/* navigation-knap */

		.nav-knap {
			position: fixed;
			right: 0;
			top: 0;
			width: auto;
			height: auto;
			line-height: 0;
			padding: 25px;
			z-index: 100;
		}

		.burger {
			cursor: pointer;
			background: transparent;
			border: none;
		}

		.bar1,
		.bar2,
		.bar3 {
			width: 35px;
			height: 3px;
			background-color: #fff;
			margin: 9px 0;
			transition: 0.4s;
			box-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
		}

		.change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 9px);
			transform: rotate(-45deg) translate(-9px, 9px);
		}

		.change .bar2 {
			opacity: 0;
		}

		.change .bar3 {
			-webkit-transform: rotate(45deg) translate(-7px, -8px);
			transform: rotate(45deg) translate(-7px, -8px);
			box-shadow: 1px 1px 10px transparent, 1px 1px 10px transparent;
		}


		/*pulsering for UX - - - klik eller luk, og brug ikke tilbageknap*/

		.pulse {
			animation: pulse 3s infinite;
		}

		@keyframes pulse {
			0% {
				transform: scale(1);
			}
			80% {
				transform: scale(1);
			}
			90% {
				transform: scale(1.5);
			}
			100% {
				transform: scale(1);
			}
		}

		/* navigation-menu */

		nav {
			position: absolute;
			color: #fff;
			width: 100vw;
			height: 100vh;
			opacity: 0;
			transition: opacity 1s;
			pointer-events: none;
		}

		nav.show {
			opacity: 1;
			transition: opacity 1s;
			pointer-events: all;
		}

		nav ul {
			list-style: none;
			margin: 100px 0 0;
			padding: 0;
			width: 100vw;
		}

		nav li {
			font-size: 2rem;
			text-transform: uppercase;
			cursor: pointer;
			border-top: 1px solid #fff;
			text-align: center;
		}

		nav a,
		nav a:link,
		nav a:active,
		nav a:visited {
			color: #fff;
			font-weight: normal;
			text-decoration: none;
			display: block;
			padding: 25px;
		}

		nav li a:hover {
			color: #000;
			transition: 0.5s;
			background-color: #fff;
			transition: 0.5s;
		}

		nav li:last-child {
			border-bottom: 1px solid #fff;
		}

		/*om section*/

		#om {
			background-color: var(--om_bundfarve);
			background-size: 250%;
			background-position: bottom;
			background-repeat: no-repeat;
		}

		/*om content-grid*/

		#om .content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto minmax(auto, 350px);
			grid-gap: 50px;
			position: relative;
			padding: 3rem 3rem 0;
		}

		/*om section styles*/

		#om h1 {
			text-transform: uppercase;
			color: var(--logofarve);
			font-weight: normal;
			font-style: italic;
		}

		#om .om-tekst {
			grid-column: 1 / span 2;
		}

		#om .om-billede {
			position: absolute;
			bottom: 0;
			right: -20px;
			padding-right: 10vw;
			max-height: 400px;
			width: auto;
			transform: scaleX(-1);
		}

		#om .om-kontakt {
			display: none;
		}

		#om .om-citat {
			grid-column: 1 / span 1;
			font-size: 1.75rem;
			font-weight: bold;
			line-height: 2.4rem;
			position: relative;
			margin: 25px 0 0 0;
		}

		#om .om-citat-cymbol {
			position: absolute;
			width: 50px;
			height: 50px;
			top: -40px;
			right: -40px;
			background-image: url(img/template/citat-symbol.svg);
			background-size: cover;
		}

		#om .om-citat-navn {
			font-weight: normal;
			font-size: 1.5rem;
			line-height: 2rem;
		}

		/*feature section*/

		#feature {
			background-color: var(--footer_bundfarve);
			color: var(--footer_fontfarve);
		}

		/*feature content-grid*/

		#feature .content {
			display: grid;
			grid-template-columns: 1fr;
			line-height: 0;
			padding: 0 0 0;
		}

		/*feature styles*/

		#feature h2 {
			color: #fff;
			text-transform: uppercase;
			font-size: 1.7rem;
			margin: 0;
		}

		#feature p {
			color: var(--footer_afsnit);
			max-width: 90%;
			margin: 1rem 0 0;
		}

		#feature .linkbox {
			padding: 3rem;
			line-height: normal;
			display: flex;
			justify-content: space-between;
		}

		#feature .linkbox_tekst {
			padding: 3rem;
			line-height: normal;
		}

		#feature button {
			background-color: var(--logofarve);
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 7px 10px 7px;
			text-transform: uppercase;
			margin: 0;
			white-space: nowrap;
		}

		/*menu section*/

		#menu {
			background-color: #fff;
			color: var(--footer_fontfarve);
		}

		/*menu content-grid*/

		#menu .content {
			padding: 3rem 3rem 5rem;
		}

		#menu .content .data-container {
			display: grid;
			grid-template-columns: 1fr;
		}

		/*menu styles*/

		#menu h2 {
			color: var(--fontfarve);
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
		}

		#menu .filter-menu-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 2rem;
		}

		#menu .filter-menu {
			display: none;
			grid-template-columns: auto auto;
			grid-template-columns: auto auto;
			grid-gap: 10px;
		}

		#menu .filter-menu-mobile {
			display: block;
		}

		#menu .filter-menu div {
			justify-self: end
		}

		#menu button {
			background-color: var(--logofarve);
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 7px 10px 7px;
			text-transform: uppercase;
			white-space: nowrap;
		}

		#menu button {
			background-color: var(--logofarve);
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 7px 10px 7px;
			text-transform: uppercase;
			white-space: nowrap;
		}

		#menu button:hover {
			background-color: var(--footer_bundfarve);
			transition: 1s;
		}

		#menu article {
			padding: 20px;
		}

		#menu article:nth-child(odd) {
			background-color: #ffdbb0;
		}

		#menu .data-kategori {
			text-transform: uppercase;
			font-weight: bold;
			color: var(--logofarve);
		}

		#menu h3 {
			font-size: 2rem;
			margin: 0;
		}

		#menu h2 {
			white-space: nowrap;
		}

		#menu p {
			margin: 1rem 0 1rem;
			max-width: 90%;
			line-height: 2.2rem;
		}

		#menu .data-pris {
			font-size: 2.6rem;

		}

		.filter-darkwrapper {
			background-color: var(--darkwrapper_hover);
			position: fixed;
			opacity: 0;
			Top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 100;
			pointer-events: none;
			transition: opacity 1s;
		}

		.filter-darkwrapper.show {
			opacity: 1;
			pointer-events: all;
		}

		.filter-darkwrapper ul {
			list-style: none;
			margin: 100px 0 0;
			padding: 0;
			width: 100vw;
		}

		.filter-darkwrapper li {
			font-size: 2rem;
			text-transform: uppercase;
			cursor: pointer;
			border-top: 1px solid #fff;
			text-align: center;
		}

		.filter-darkwrapper a,
		.filter-darkwrapper a:link,
		.filter-darkwrapper a:active,
		.filter-darkwrapper a:visited {
			color: #fff;
			font-weight: normal;
			text-decoration: none;
			display: block;
			padding: 25px;
		}

		.filter-darkwrapper li a:hover {
			color: #000;
			transition: 0.5s;
			background-color: #fff;
			transition: 0.5s;
		}

		.filter-darkwrapper li:last-child {
			border-bottom: 1px solid #fff;
		}

		/* filter-knap */

		.filter-knap {
			position: fixed;
			right: 0;
			top: 0px;
			width: auto;
			height: auto;
			line-height: 0;
			padding: 25px;
			z-index: 120;
			opacity: 0;
			pointer-events: none;
		}

		.filter-knap.show {
			opacity: 1;
			pointer-events: all;
		}

		/*bookbord section*/

		#bookbord {
			background-color: #6a390c;
			color: #fff;
			height: 300px;
		}

		/*bookbord content-grid*/

		#bookbord .content {
			display: grid;
			grid-template-columns: 1fr;
			line-height: 0;
			padding: 0 0 0;
		}

		/* Footer */

		footer {
			background-color: var(--footer_bundfarve);
			color: var(--footer_fontfarve);
		}

		/* footer content-grid */

		footer .content {
			display: grid;
			grid-template-columns: 1fr;
			padding: 3rem 3rem 5rem;
		}

		/* footer styles */

		footer p {
			color: var(--footer_afsnit);
			max-width: 90%;
			margin: 0;
		}

		footer h3 {
			color: var(--footer_rubrik);
		}

		footer button {
			background-color: #fff;
			border: none;
			border-radius: 5px;
			padding: 7px 10px 7px;
			text-transform: uppercase;
			margin: 10px 0 0;
		}

		footer .icon {
			max-width: 30px;
			max-height: 30px;
			margin: 10px 10px 0 0;
		}

		footer .copyright {
			font-size: 70%;
			margin: 20px 0 0;
		}


		/*
- - - - - - - - - - - - - media queries - - - - - - - - - - - - -
*/

		@media screen and (orientation: landscape) {

			/*	header - nav */
			nav ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			nav li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}

			/*	filter-menu */
			.filter-darkwrapper ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			.filter-darkwrapper li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			.filter-darkwrapper li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}
		}

		/*
- - - - - - - - - - - - - 480 landscape - - - - - - - - - - - - -
*/

		@media screen and (min-width: 480px) and (orientation: landscape) {

			/*	content-grid 480px landscape */
			#om .content {
				padding: 4rem 4rem 6rem;
			}

			#feature .content {
				padding: 4rem 4rem 6rem;
			}

			#menu .content {
				padding: 4rem 4rem 6rem;
			}

			footer .content {
				padding: 4rem 4rem 6rem;
			}

			/*	header - nav */
			nav ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			nav li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}

			/*	filter-menu */
			.filter-darkwrapper ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			.filter-darkwrapper li:nth-child(2n+1) {
				border-right: 1px solid #fff;
			}
			.filter-darkwrapper li:nth-last-child(2) {
				border-bottom: 1px solid #fff;
			}
		}

		/*
- - - - - - - - - - - - - 768 - - - - - - - - - - - - -
*/

		@media screen and (min-width: 768px) {

			body {
				font-size: 1.6rem;
			}

			/*	content-grid 768px*/
			#om .content {
				grid-template-columns: 2fr 1fr;
				padding: 5rem 5rem 7rem;
			}

			#feature .content {
				grid-template-columns: 1fr 1fr;
				grid-gap: 30px;
				padding: 5rem 5rem 7rem;
			}

			#menu .content {
				padding: 5rem 5rem 7rem;
			}

			#menu .content .data-container {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}

			#menu article:nth-child(odd) {
				background-color: #fff;
			}

			#menu article:nth-child(4n),
			#menu article:nth-child(4n+1) {
				background: #fff;
			}
			#menu article:nth-child(4n+2),
			#menu article:nth-child(4n+3) {
				background: #ffdbb0;
			}

			#menu .filter-menu {
				display: grid;
				grid-template-columns: auto auto;
				grid-template-columns: auto auto;
				grid-gap: 10px;
			}

			#menu .filter-menu-mobile {
				display: none;
				margin: 0 0 0 1rem;
			}

			footer .content {
				grid-template-columns: 1fr 1fr;
				grid-gap: 30px;
				padding: 5rem 5rem 7rem;
			}

			/*	header - nav*/
			header {
				height: 430px;
			}

			.darkwrapper {
				grid-template-columns: 1fr minmax(auto, 250px) 1fr;
			}

			.logo {
				padding: 0 0 15px;
			}

			.burger {
				display: none;
			}

			nav {
				position: absolute;
				right: 0px;
				color: #fff;
				opacity: 1;
				width: auto;
				padding: 20px 30px 0 0;
				pointer-events: all;
				height: auto;
			}

			nav ul {
				display: block;
				margin: 0 0 0;
				padding: 0;
				width: auto;
			}

			nav li {
				font-size: 1.6rem;
				line-height: 2.2rem;
				text-transform: uppercase;
				cursor: pointer;
				border-top: 0px solid #fff;
				text-align: right;
				padding: 3px 10px 6px 0;
				margin-right: 2rem;
			}

			nav li:hover {
				color: var(--logofarve);
				transition: 0.5s;
				background-color: transparent;
			}

			nav a,
			nav a:link,
			nav a:active,
			nav a:visited {
				color: #fff;
				font-weight: normal;
				text-decoration: none;
				display: block;
				padding: 0;
			}

			nav li a:hover {
				color: var(--logofarve);
				transition: 0.5s;
				background-color: transparent;
				transition: 0.5s;
			}

			nav li a:hover {
				color: var(--logofarve);

			}

			nav li:last-child {
				border-bottom: 0px solid #fff;
			}

			nav li:nth-child(2n+1) {
				border-right: 0px solid #fff;
			}
			nav li:nth-last-child(2) {
				border-bottom: 0px solid #fff;
			}

			.social-icons {
				display: block;
				padding: 15px;
			}

			/*	om section*/
			#om .om-tekst {
				grid-column: 1 / span 1;
			}

			#om .om-kontakt {
				display: block;
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;
				justify-self: center;
			}

			#om .om-billede {
				right: 70px;
			}

			/*	feature section*/
			#feature .linkbox {
				padding: 3rem 0 3rem;
			}

			#feature .linkbox_tekst {
				padding: 3rem 0 3rem;
			}
		}

		/*
- - - - - - - - - - - - - 980 - - - - - - - - - - - - -
*/

		@media screen and (min-width: 980px) {

			body {
				font-size: 1.6rem;
			}

			/*	content grid ved 980px */
			#om .content {
				grid-template-columns: 1fr 1fr 1fr;
			}

			#feature .content {
				grid-template-columns: 1fr 1fr 1fr;
			}

			#menu .content .data-container {
				grid-template-columns: 1fr 1fr 1fr;
			}

			#menu article:nth-child(4n+2),
			#menu article:nth-child(4n+3) {
				background: #fff;
			}

			#menu article:nth-child(odd) {
				background-color: #ffdbb0;
			}

			#menu .filter-menu {
				grid-template-columns: auto auto auto auto;
			}

			footer .content {
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 20px;
			}

			/*	sections */
			#om .om-tekst {
				grid-column: 1 / span 2;
			}

			#om .om-billede {
				left: 65px;
				transform: none;
			}

			#om .om-kontakt {
				display: block;
				grid-column: 3 / span 1;
				grid-row: 1 / span 1;
				justify-self: center;
			}

			#om .om-citat {
				grid-column: 2 / span 2;
				font-weight: bold;
				line-height: 2.4rem;
				position: relative;
				margin: 50px 100px 0 0;
			}
		}

		/*
- - - - - - - - - - - - - 1024 - - - - - - - - - - - - -
*/

		@media screen and (min-width: 1024px) {

			body {
				font-size: 1.5rem;
				line-height: 2rem;
			}

			/*	sidemargin 1024px */
			section,
			footer {
				display: grid;
				grid-template-columns: 1fr 1024px 1fr;
				grid-gap: 30px;
			}

			/*	content grid 1024p */
			section .content,
			footer .content {
				grid-column: 2 / span 1;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-gap: 30px;
			}

			/*			sections*/
			#om .om-billede {
				left: 30px;
			}
		}

		/*
- - - - - - - - - - - - - 1280 - - - - - - - - - - - - -
*/

		@media screen and (min-width: 1280px) {

			/*	sidemargin 1280px */
			section,
			footer {
				grid-template-columns: 1fr 1280px 1fr;
			}

			/*	header - nav*/
			header {
				height: 500px;
			}

			nav ul {
				display: flex;
				margin: 0 0 0 0;
				padding: 0;
				width: auto;
			}

			/*	sections  */
			#menu .content .data-container {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
